BOT_TOKEN=your_token_here
API_KEY=secret

UPLOAD_FOLDER=captures

POSTGRES_USER=db_user
POSTGRES_PASSWORD=secret_password
POSTGRES_DB=doorbell_db

TEST_USER=test_user
TEST_PASSWORD=secret_password
TEST_DB=test_doorbell
TEST_PORT=5433

TEST_REDIS_PORT=6380